{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<style>
		.modal {
			display: none;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: white;
			padding: 20px;
			z-index: 1000;
		}
	</style>

	<div>
		<h1>Page d'accueil</h1>

		<h2>Liste des produits</h2>

		<button id="openModalButton">Créer un produit</button>

		<form id="sortForm">
			<label for="sortOrder">Trier par nom :</label>
			<select id="sortOrder">
				<option value="asc">Croissant</option>
				<option value="desc">Décroissant</option>
			</select>
		</form>

		<ul id="productList">
			{% for product in products %}
				<li class="product">
					<span class="productName">{{ product.name }}</span>
					{{ product.description}}
					{{ product.priceExcludingTax }}
					{{ product.valueAddedTax}}
					<img src="{{ product.image}}" alt="{{ product.name }}">

				</li>
			{% endfor %}
		</ul>

		<!-- Modal -->
		<div id="createProductModal" class="modal">
			<div class="modal-content">
				<form id="addProductForm">
					<label for="name">Nom du produit:</label>
					<input type="text" id="name" name="name" required>

					<label for="description">Description:</label>
					<input type="text" id="description" name="description" required>

					<label for="priceExcludingTax">Prix HT:</label>
					<input type="number" id="priceExcludingTax" name="priceExcludingTax" required>

					<label for="valueAddedTax">TVA:</label>
					<input type="number" id="valueAddedTax" name="valueAddedTax" required>

					<label for="image">Image:</label>
					<input type="text" id="image" name="image" required>

					<button type="submit">Ajouter</button>
					<button type="button" id="closeModalButton">Fermer</button>
				</form>
			</div>
		</div>


	{% endblock %}


	{% block javascripts %}
		{{ parent() }}
		<script>
			/* Product */
$(document).ready(function () {
$('#sortOrder').on('change', function () {
let sortOrder = $(this).val();
sortProducts(sortOrder);
});

function sortProducts(order) {

let productList = $('#productList');
let productListRows = productList.find('.product').get();

productListRows.sort(function (a, b) {
let aValue = $(a).find('.productName').text();
let bValue = $(b).find('.productName').text();

if (order === 'asc') {
return aValue.localeCompare(bValue);
} else {
return bValue.localeCompare(aValue);
}
});

$.each(productListRows, function (index, item) {
productList.append(item);
});
}

/* Modal */
$('#openModalButton').on('click', function () {
$('#createProductModal').show();
});

$('#closeModalButton').on('click', function () {
$('#createProductModal').hide();
});

$("#addProductForm").submit(function (e) {
e.preventDefault();

var formData = {
name: $("#name").val(),
description: $("#description").val(),
priceExcludingTax: $("#priceExcludingTax").val(),
valueAddedTax: $("#valueAddedTax").val(),
image: $("#image").val()
};

$.ajax({
type: "POST",
url: "/create-product",
data: formData,
success: function (data) {
document.getElementById("addProductForm").reset();
$('#createProductModal').hide();
},
error: function (error) {
alert('Erreur lors de la création du produit');
}
});
});
});
		</script>
	{% endblock %}
